*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(216, 216, 216);

}
/* MENU  */

.main-menu {
    background-color: white;
    text-align: center;
    height: 80px;
    width: 100%;
    top:0;
    z-index: 100;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.main-menu ul {
    display: inline-flex;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    
    
}
.main-menu ul li {
    margin-top: 30px;
    text-decoration: none;
    font-size: 24px;
    padding-bottom: 30px;

}
.main-menu ul li a {
    text-decoration: none;
    color: black;    
    padding-bottom: 20px;

}

.main-menu ul li a:hover {
    border-bottom: 4px solid black;
    
    
}
.main-menu-img{
    width: 100%;
    position: relative;
}   

.main-avatar{
    width: 40px;
    height: 40px;
    margin-top: 25px;
}

/* LOGIN  */

.login-p{
    margin-top: 50px;
    font-size: 48px;
    text-align: center;
}

.box{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 300px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

input {
    height: 30px;
    border: none;
    margin-bottom: 20px;
    padding-left: 10px;
    background-color: rgb(61, 61, 61);
    border-radius: 5px;
    color: white;
}
#btn1{
    background-color: rgb(231, 108, 108);
    border: none;
    height: 30px;
    border-radius: 10px;
    color: white;
}
#btn1:hover{
    cursor: pointer;
}

.container{
    margin-top: 20px;
    position: relative;
    width: 400px;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: auto;
    background-color: white;
}















/* ERROR  */
.error-box{
    position: absolute;
    bottom: 110%;
    width: 300px;
    height: 30px;
    background-color: rgb(255, 196, 196);
    display: none;
}

.error-p{
    color: red;
    text-align: center;
    padding: 5px;
    
}